/* colors */

:root {
    /* green: */
    --greenlight: #5aa47b63;
    --greendark: #35503e;
    --greendarker: #0d2e1f;
    --greendarkest: #022619;
    --greengrey: #6b806f;
    /* blue: */
    --bluelight: #0145a4;
    --bluedark: #05152E;
    --bluedarker: #1F2937;
    --bluedarkest: #001E3C;
    --bluegrey: #6B7280;
    /* warm */
    --yellogreen: #76c92d;
    --greengrey: #8b907f;
    --yellow: #e7b416;
    --yellow-oronge: #db7b2b;
    --yello-red: #cc7032;
    /* mixed */
    --blau: #100089;
    --blaulight: #218dcb;
    --red-yellow: #db5a2b;
    --red: #cc3232;
    /* speciel */
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light: #eeeeee;
  }
  
  #body-film {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--light);
    color: var(--bluedarkest);
    font-size: large;
    margin: 0;
    padding: 0;
  }

#film-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 94vw;
    min-width: 370px;
    overflow: hidden;
    z-index: -2;
    padding: 10px 20px;
    background-color: transparent; 
    border-radius: 2vw;
    border: 2px solid var(--red); 
    color: var(--red); 
    font-weight: bolder;
    transition: opacity 0.3s ease; /* Add transition effect for smooth opacity change */
}

#aside-film {
    height: 100%;
    width: 30%;
    border-radius: 1.17em;
    text-align: center;
    border-radius: 2vw;
    background-color: var(--bluegrey);
    /* writing-mode: tb-rl;
    transform: rotate(-180deg); */
    animation: moveAside 4s;
}
#aside-desc {
  color: var(--red-yellow);
  font-size: larger;
  font-weight: bold;
  text-align: left;
  padding: 4vw 0 0 2vw;
}


#main-film{
  overflow: auto;
  width: 70%;
  height: auto;
}
.project-hero-b {
  overflow-y: auto; 
  border-radius: 1.17em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  display: flex;
  position: relative;
  overflow: auto;
  /* z-index: -3; */
  background: linear-gradient(
    to right,
    #6B7280 10%,
    #8b5cf6 30%,
    #ec4899 70%,
    #6B7280 90%
  );
  border-radius: 2vw;
  animation: moveMain 4s;
}

.block-project-hero {
  padding-top: 1vh;
  position: relative;
}

@keyframes moveMain {
  0% {
    transform: translateX(100%); /* Start position */
  }
  100% {
    transform: translateX(0%); /* End position */
  }
}

@keyframes moveAside {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0%); 
  }
}


@media screen and (max-width: 768px)  {
  iframe {
    width: 100%;
  }
  #aside-film {
    display: block;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  } 
  #aside-desc {
    font-size: medium;
    font-weight: bolder;
    text-align: center;
  }
}