

/* about styling-------------------- */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--light);
    color: var(--bluedarkest);
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #img-info{
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
  
  }
  #sea {
    max-height: 30vh;
    left: 0;
    border-radius: 10px 10px;
  }
  
  #bar-table {
    padding: 0 2vw 0 2vw;
  }
  
  #bars {
    display: grid;
    justify-content: left;
    align-items: center;
    grid-template-rows: 10(1fr);
    gap: 1vh;
    min-width: 60vw;
    height: fit-content;
    padding: 1vh;
    /* background-color: var(--greengrey); */
    border-radius: 10px;
  }
  
  .bar {
    display: block;
    text-align: left;
    width: 60vw;
  
    min-width: 50vw;
    background-color: var(--bluegrey);
  }
  
  .bar-fill {
    background-color: var(--blau);
  }
  
  .tag {
    display: inline-block;
    text-align: left;
    width: 100px;
    background-color: var(--bluedarkest);
    color: var(--light);
  }
  

  @media screen and (max-width: 768px)  {

    /* about ----------------------- */
    #about-container {
      display: block;
      width: 100vw;
      height: 80vh;
      top: 8vh;
    }
    #img-info{
      max-width: auto;
      max-height: auto;
      margin: 0;
      padding: 0 2vw;
    
    }
    #sea {
      width: 100vw;
      height: 40vh;
      left: 0;
      border-radius: 10px 10px;
    }
    #img-desc {
      display: none;
    }

    #bars {
      min-width: 60vw;
    }
    #computer-content #arts-content {
      width: 90vw;
    }
    .bar {
      width: 90vw;
    }
}