/* colors */

  #document {
    display: block;
  }

 #body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: var(--bluedarkest);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 10vh;
 }

 #above {
   padding: 8px;
   width: 1000px;
   text-align: center;
   background-color: var(--bluegrey);
   opacity: .7;
}

 #cv {
    max-width: 1000px;
    position: absolute;
    top: 8vh;
    z-index: -1;
 }
 .nav {
   position: sticky;
   background-color: var(--light);
 }

 #ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style-type: none;
   padding-left: 20px;
   margin: 0;
   text-decoration: none;
 }

 li {
   padding-right: 20px;
 }
 a {
   text-decoration: none;
 }

 #content {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1000px;
 }
 .column {
   height: 2200px;
 }

 #content {
   max-width: 1000px;
   margin: 0;
   padding: 0;
 }

#aside {
   display: block;
   text-align: end;
   padding-right: 20px;
   margin: 0;
   width: 300px;
   font-size: 18px;
   background-color: var(--bluegrey);
   border: 1px solid var(--bluedarkest);
}

#img {
   height: 300px;
   padding: 40px 30px 38px 40px;
}

#main-cont {
   width: 700px;
   background-color: white;
   padding-left: 20px;
   font-size: 18px;
   margin: o;
   border: 1px solid var(--bluedarkest);
}
#personal {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: 140px;
   padding-left: 80px;
   margin-left: 0;
}
#experience {
   padding-top: 130px;
}

#ict-exp-mob {
   display: none;
}
.studies {
   padding-bottom: 0;
   margin-bottom: 0px;
   margin-top: 17px;
}
#studies {
   padding-top: 55px;
}
.languages {
   padding-top: 15px;
   margin: 0;
}
#languages {
   padding-top: 50px;
}
#ict {
   padding-top: 35px;
}                 
#activity {
   padding-top: 30px;
   padding-bottom: 5px;
}

#footer {
   display: flex;
   justify-content: center;
   padding-top: 5px;
   background-color: var(--bluegrey);
   opacity: .7;
}



@media screen and (max-width: 768px)  {

   #body{
      width: 100vw;
     font-weight: bolder;
   }

   #ict-exp {
      display: none;
   }
   #ict-exp-mob {
      display: block;
   }

}